In [8]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import sklearn.linear_model
import urllib

In [37]:
data = pd.read_csv("C:/Users/sai45.LAPTOP-OT50J80G/Downloads/BLI_04112018062517352.csv")
data.head()

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,4.3,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,2.7,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,4.8,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.9,NaN,NaN
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,1.8,NaN,NaN

In [24]:
life_satisfaction_data = data[data["INEQUALITY"]=="TOT"]
life_satisfaction_data = life_satisfaction_data.pivot(index="Country", columns="Indicator", values="Value")

In [26]:
life_satisfaction_data["Life satisfaction"]

Country
Australia          7.3
Austria            7.0
Belgium            6.9
Brazil             6.6
Canada             7.3
Chile              6.7
Czech Republic     6.6
Denmark            7.5
Estonia            5.6
Finland            7.5
France             6.4
Germany            7.0
Greece             5.2
Hungary            5.3
Iceland            7.5
Ireland            7.0
Israel             7.2
Italy              5.9
Japan              5.9
Korea              5.9
Latvia             5.9
Luxembourg         6.9
Mexico             6.6
Netherlands        7.4
New Zealand        7.3
Norway             7.5
OECD - Total       6.5
Poland             6.0
Portugal           5.2
Russia             6.0
Slovak Republic    6.1
Slovenia           5.8
South Africa       4.8
Spain              6.4
Sweden             7.3
Switzerland        7.5
Turkey             5.5
United Kingdom     6.7
United States      6.9
Name: Life satisfaction, dtype: float64

In [111]:
data2 =  pd.read_csv("C:/Users/sai45.LAPTOP-OT50J80G/Downloads/WEO_Data.csv")
data2.head()
gdp_per_capita = data2.rename(columns={"2015": "GDP_Per_Capita"})
gdp_per_capita.set_index("Country", inplace=True)
gdp_per_capita["GDP_Per_Capita"]

Country
Afghanistan                                                                   599.994
Albania                                                                      3,995.38
Algeria                                                                      4,318.14
Angola                                                                       4,100.32
Antigua and Barbuda                                                         14,414.30
Argentina                                                                   13,588.85
Armenia                                                                      3,534.86
Australia                                                                   50,961.87
Austria                                                                     43,724.03
Azerbaijan                                                                   5,739.43
The Bahamas                                                                 23,902.81
Bahrain                                                                     23,509.98
Bangladesh                                                                   1,286.87
Barbados                                                                    15,773.56
Belarus                                                                      5,749.12
Belgium                                                                     40,106.63
Belize                                                                       4,841.74
Benin                                                                         780.063
Bhutan                                                                       2,843.40
Bolivia                                                                      2,886.23
Bosnia and Herzegovina                                                       4,088.21
Botswana                                                                     6,040.96
Brazil                                                                       8,670.00
Brunei Darussalam                                                           28,236.64
Bulgaria                                                                     6,831.66
Burkina Faso                                                                    614.5
Burundi                                                                       305.783
Cabo Verde                                                                   3,038.51
Cambodia                                                                     1,168.04
Cameroon                                                                     1,232.42
                                                                              ...
Sweden                                                                      49,866.27
Switzerland                                                                 80,675.31
Syria                                                                             n/a
Taiwan Province of China                                                    22,287.56
Tajikistan                                                                    922.072
Tanzania                                                                      941.804
Thailand                                                                     5,742.28
Timor-Leste                                                                  2,244.31
Togo                                                                          569.435
Tonga                                                                        3,972.74
Trinidad and Tobago                                                         18,085.76
Tunisia                                                                      3,922.65
Turkey                                                                       9,437.37
Turkmenistan                                                                 6,622.41
Tuvalu                                                                       3,014.63
Uganda                                                                        620.213
Ukraine                                                                      2125.426
United Arab Emirates                                                        36,060.02
United Kingdom                                                              43,770.69
United States                                                               55,805.20
Uruguay                                                                     15,748.19
Uzbekistan                                                                   2,120.78
Vanuatu                                                                      2,847.11
Venezuela                                                                    7,744.75
Vietnam                                                                      2,088.34
Yemen                                                                        1,302.94
Zambia                                                                       1,350.15
Zimbabwe                                                                     1,064.35
NaN                                                                               NaN
International Monetary Fund, World Economic Outlook Database, April 2016          NaN
Name: GDP_Per_Capita, Length: 191, dtype: object

In [52]:
full_stats = pd.merge(left=life_satisfaction_data, right=gdp_per_capita, left_index=True, right_index=True)

In [58]:
full_stats.sort_values(by="GDP_Per_Capita", inplace=True)

In [57]:
remove_indices = [0, 1, 6, 8, 33, 34, 35]
keep_indices = list(set(range(36)) - set(remove_indices))

sample_data = full_stats[["GDP_Per_Capita", 'Life satisfaction']].iloc[keep_indices]
missing_data = full_stats[["GDP_Per_Capita", 'Life satisfaction']].iloc[remove_indices]

In [59]:
dat = full_stats[["GDP_Per_Capita", 'Life satisfaction']]

In [64]:
dat

                GDP_Per_Capita  Life satisfaction
Country
Luxembourg          101,994.09                6.9
Hungary              12,239.89                5.3
Poland               12,495.33                6.0
Chile                13,340.91                6.7
Latvia               13,618.57                5.9
Slovak Republic      15,991.74                6.1
Czech Republic       17,256.92                6.6
Estonia              17,288.08                5.6
Greece               18,064.29                5.2
Portugal             19,121.59                5.2
Slovenia             20,732.48                5.8
Spain                25,864.72                6.4
Korea                27,195.20                5.9
Italy                29,866.58                5.9
Japan                32,485.55                5.9
Israel               35,343.34                7.2
New Zealand          37,044.89                7.3
France               37,675.01                6.4
Belgium              40,106.63                6.9
Germany              40,996.51                7.0
Finland              41,973.99                7.5
Canada               43,331.96                7.3
Netherlands          43,603.12                7.4
Austria              43,724.03                7.0
United Kingdom       43,770.69                6.7
Sweden               49,866.27                7.3
South Africa          5,694.57                4.8
Iceland              50,854.58                7.5
Australia            50,961.87                7.3
Ireland              51,350.74                7.0
Denmark              52,114.17                7.5
United States        55,805.20                6.9
Norway               74,822.11                7.5
Brazil                8,670.00                6.6
Switzerland          80,675.31                7.5
Mexico                9,009.28                6.6
Russia                9,054.91                6.0
Turkey                9,437.37                5.5

In [169]:
X = dat["GDP_Per_Capita"]
X = X.str.replace(",", "")
X = X.astype(float)
X

Country
Luxembourg         101994.09
Hungary             12239.89
Poland              12495.33
Chile               13340.91
Latvia              13618.57
Slovak Republic     15991.74
Czech Republic      17256.92
Estonia             17288.08
Greece              18064.29
Portugal            19121.59
Slovenia            20732.48
Spain               25864.72
Korea               27195.20
Italy               29866.58
Japan               32485.55
Israel              35343.34
New Zealand         37044.89
France              37675.01
Belgium             40106.63
Germany             40996.51
Finland             41973.99
Canada              43331.96
Netherlands         43603.12
Austria             43724.03
United Kingdom      43770.69
Sweden              49866.27
South Africa         5694.57
Iceland             50854.58
Australia           50961.87
Ireland             51350.74
Denmark             52114.17
United States       55805.20
Norway              74822.11
Brazil               8670.00
Switzerland         80675.31
Mexico               9009.28
Russia               9054.91
Turkey               9437.37
Name: GDP_Per_Capita, dtype: float64

In [172]:

X = X.reshape(-1, 1)
y = y.reshape(-1, 1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [179]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train

array([[ 18064.29],
       [ 37675.01],
       [101994.09],
       [  9437.37],
       [ 37044.89],
       [ 51350.74],
       [ 20732.48],
       [ 52114.17],
       [ 40106.63],
       [ 32485.55],
       [ 13340.91],
       [ 29866.58],
       [ 41973.99],
       [ 12239.89],
       [ 25864.72],
       [ 43770.69],
       [ 40996.51],
       [ 43724.03],
       [ 50961.87],
       [  8670.  ],
       [ 55805.2 ],
       [ 80675.31],
       [ 19121.59],
       [ 50854.58],
       [ 43331.96],
       [ 43603.12],
       [ 35343.34],
       [ 17256.92],
       [ 12495.33],
       [  9009.28]])

In [180]:
from sklearn import linear_model

In [181]:
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [182]:
res = reg.predict(X_test)

In [183]:
reg.score(X_test,y_test)

0.5611196091832555